#navbar{
    flex-direction: column;

}

#home{
height: 380px;
flex-direction: column;
padding: 3px 68px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home::before{
    height: 500px;
}

#home p{
    font-size: 13px;
}
#services{
    flex-direction: column;
}

#services .box{
    flex-direction: column;
}

#clients{
flex-wrap: wrap;
}

#client img{
    width: 66px;
    padding: 0px 6px;
}
.client-item{
    padding: 12px;
}
#contact-box form{
    display: inline;
    width: 80%;
}



/* utility classes */

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}